body.light-theme body {
  background-color: #ffffff;
  color: #000000;
}
body.light-theme .header {
  background-color: #f8f9fa;
}
body.light-theme .content {
  background-color: #f8f9fa;
  color: #000000;
}
body.light-theme .sidebar {
  background-color: #ffffff;
  color: #000000;
}
body.light-theme .emergency-contact {
  background-color: #e6e6e6;
}

body.dark-theme body {
  background-color: #343a40;
  color: #ffffff;
}
body.dark-theme .header {
  background-color: #495057;
}
body.dark-theme .content {
  background-color: #495057;
  color: #ffffff;
}
body.dark-theme .sidebar {
  background-color: #212529;
  color: #adb5bd;
}
body.dark-theme .emergency-contact {
  background-color: #0a0c0d;
}

.container-fluid {
  padding: 0;
}

.sidebar {
  display: flex;
  flex-direction: column;
}
@media (min-width: 767px) {
  .sidebar {
    height: 100vh;
  }
}
.sidebar .logo {
  padding: 1rem;
  font-size: 1.5rem;
  text-align: center;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.sidebar .logo .list-items {
  width: 65%;
}
.sidebar .logo img {
  width: 50px;
  height: 50px;
}
.sidebar .logo .icon-name {
  display: flex;
  flex-direction: row;
}
@media (min-width: 700px) {
  .sidebar .logo .badge-icon {
    display: none;
  }
}
.sidebar .sidebar-content {
  flex: 1;
  overflow-y: auto;
  padding: 1rem;
}
.sidebar .sidebar-content .nav-item {
  margin-bottom: 1rem;
}
.sidebar .sidebar-content .nav-item .nav-link {
  color: inherit;
}
.sidebar .sidebar-content .nav-item .nav-link:hover {
  text-decoration: solid;
  background-color: #e9ecef;
  border-radius: 5px;
}
.sidebar .sidebar-content .nav-item .badge {
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 0.2rem 0.5rem;
  margin-left: 0.5rem;
}
.sidebar .sidebar-content .account-section {
  margin-top: 2rem;
}
.sidebar .sidebar-content .account-section .nav-item {
  margin-bottom: 1rem;
}
@media (max-width: 767px) {
  .sidebar .sidebar-content {
    text-align: center;
  }
}
.sidebar .emergency-contact {
  padding: 1rem;
  text-align: center;
}
@media (max-width: 767px) {
  .sidebar .emergency-contact {
    padding: 1rem;
    text-align: center;
    display: none;
  }
}

.header {
  padding: 1rem;
}
.header .search-box {
  width: 50%;
}
.header .icons {
  display: flex;
  align-items: center;
}
.header .icons .notification-icon {
  margin-right: 1rem;
}
.header .icons .toggle-theme {
  margin-left: 1rem;
}
@media (max-width: 767px) {
  .header .search-box {
    width: 100%;
  }
  .header .icons {
    display: none !important;
  }
}

.placeholder-content {
  padding: 2rem;
  background-color: #e9ecef;
  border-radius: 0.5rem;
}

.contact {
  display: none;
}

@media (max-width: 767px) {
  .header .search-box {
    width: 100%;
    margin-bottom: 1rem;
  }
  .header .icons {
    width: 100%;
    justify-content: space-between;
  }
  .contact {
    padding: 1rem;
    text-align: center;
    display: block !important;
    background-color: #e6e6e6;
  }
}
.content {
  padding: 40px;
}

.content-chart {
  margin: 50px;
}

@media (max-width: 1080px) {
  .chart {
    width: 100% !important;
    padding: 50px;
  }
}
.chart {
  width: 50%;
}

.text {
  padding-top: 20px;
}

/*# sourceMappingURL=styles.css.map */
